body{
    background-color: #e7e6e1;
}

#container{
    margin: auto;
  width: 70%;
  border: 3px solid purple;
  padding: 30px;
  background-color: #f7f6e7;
}

#container2{
    
    align-items: center;
   
}

#text1{
    font-size: 32px;
}

#olddesign{
    display: inline-block;
    margin-left: 50px;
    margin-right: auto;
}

#currentdesign{
    display: block;
  margin-left: 50px;
  margin-right: auto;
  
  
}
