body{
    background-color: darkolivegreen;
}

#container{
    margin: auto;
  width: 70%;
  border: 3px solid purple;
  padding: 30px;
}

#container2{
    border-style: dotted;
    align-items: center;
   
}

#text1{
    font-size: 32px;
}

#olddesign{
    display: block;
    margin-left: 100px;
    margin-right: auto;
    
}

#currentdesign{
    display: block;
  margin-left: 100px;
  margin-right: auto;
  
  
}