body{
    background-color: #e7e6e1;
}

#container{
    margin: auto;
  width: 70%;
  border: 3px solid purple;
  padding: 30px;
  background-color: #f7f6e7;
}

#container2{
    
    align-items: center;
   
}

#text1{
    font-size: 32px;
}

#olddesign{
    display: inline-block;
<<<<<<< HEAD
   margin: auto;
=======
    margin-left: 50px;
    margin-right: auto;
>>>>>>> 6e40ef220c10e98a2a3fe2b042834f93c7fc1f77
}

#currentdesign{
    display: block;
<<<<<<< HEAD
    margin: auto;
=======
  margin-left: 50px;
  margin-right: auto;
>>>>>>> 6e40ef220c10e98a2a3fe2b042834f93c7fc1f77
  
  
}
